.App{
  background-image: url("../assets/images/snow.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{ 
  font-size: 5rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 30px;
}

.countdown-container{ 
  display: flex;
}

.big-text{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 2rem;
}
.countdown-element{
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-container{
  max-width: 70%;
  margin-top: 22rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.input-container span{
  font-size: 2rem;
  font-weight: normal;
}
.date-input{   
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
}
.date-input input{
  margin-left: 20px;
  border-radius: 2rem;
  width: 200px;
  height: 50px;
  padding: 0 60px;
}
.description-input{   
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  
}
.description-input input{
  margin-left: 20px;
  border-radius: 2rem;
  width: 200px;
  height: 50px;
  padding: 0 50px;
}